In [4]:
import lancedb

In [5]:
db = lancedb.connect("../lancedb")

In [6]:
db.table_names()

['666_chunk_text-embedding-3-small', 'fairy_tale_dpr_text-embedding-3-small']

In [11]:
db["666_chunk_text-embedding-3-small"].search().to_pandas()

Empty DataFrame
Columns: [vector, id, text, metadata]
Index: []